**/__pycache__
*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints
.mypy_cache
.tox
.vagrant

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode
*.swp

# Mac
.DS_Store
