# See https://docs.gunicorn.org/en/latest/deploy.html

user nginx;
worker_processes 1;

error_log  stderr info;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
    accept_mutex off;   # enable for multiple worker_processes
    use epoll;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;

    #gzip  on;

    #include /etc/nginx/conf.d/*.conf;

    server {
        # Default server which closes the connection immediately.
        # This is used if the host header doesn't match, and prevents
        # host spoofing.
        listen      443 default_server ssl;
        ssl_certificate /etc/nginx/https_cert.pem;
        ssl_certificate_key /etc/nginx/https_key.pem;

        return 444;
    }

    server {
        listen 443 ssl deferred;

        server_name server;     # gets patched by Ansible

        ssl_certificate /etc/nginx/https_cert.pem;
        ssl_certificate_key /etc/nginx/https_key.pem;
        ssl_verify_client on;
        ssl_trusted_certificate /etc/nginx/trust_store.pem;
        ssl_client_certificate /etc/nginx/trust_store.pem;
        ssl_verify_depth 2;

        keepalive_timeout 5;

        client_max_body_size    1M;     # gets patched by Ansible

        location / {
            proxy_set_header Host "$http_host";
            proxy_set_header X-Forwarded-Proto "$scheme";
            # gets patched by Ansible to reflect Docker port mapping
            proxy_set_header X-Forwarded-Host "$host:$server_port";
            proxy_set_header X-Forwarded-Path "$uri";
            proxy_set_header X-Client-Certificate "$ssl_client_escaped_cert";

            proxy_redirect off;
            # gets patched by Ansible
            proxy_pass http://mahiru-site:8000/internal/;
        }
    }
}

